<footer class="final-style">
    <div class="social_logos">
        <a href="https://www.linkedin.com/in/mayur-kumar-g-8b447a261?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-linkedin media_logo"></i></a>
        <a href="https://github.com/mayurkumarg" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github media_logo"></i></a>
        <a href="https://www.instagram.com/_mayur._23?igsh=MTU4dzF2OG92cmxiZQ==" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram media_logo"></i></a>
    </div>

    <div class="footer_title">
        &copy; Travora Private Limited
    </div>
    <div class="priv_term">
        <a href="/privacy">Privacy</a>
        <!-- <span> . </span> -->
        <a href="/terms">Terms</a>
    </div>
</footer>